<h1 class="visually-hidden">Heroes examples</h1>

<div class="pt-5 text-center border-bottom">
  <h1 class="display-4 fw-bold">Seja bem vindo!</h1>
  <div class="col-lg-8 mx-auto">
    <p class="lead mb-4">
      Esta aplicação é um <b>sample</b> de um software web para aplicações
      imobiliárias: para aluguel e compra de propriedades.
    </p>
    <p class="lead mb-4">
      Reforço que sua funcionalidade é apenas um exemplo de como desenvolver uma
      plataforma do zero voltada ao mercado imobiliário.
    </p>
    <p class="lead"><b>Tecnologias utilizadas</b>:</p>
    <div class="list-group w-auto">
      <a
        href="#"
        class="list-group-item list-group-item-action d-flex gap-3 py-3"
        aria-current="true"
      >
        <img
          src="https://github.com/twbs.png"
          alt="twbs"
          width="32"
          height="32"
          class="rounded-circle flex-shrink-0"
        />
        <div class="d-flex gap-2 w-100 justify-content-between">
          <div>
            <h3 class="mb-0">Bootstrap 5</h3>
            <p class="mb-0 opacity-75">
              Powerful, extensible, and feature-packed frontend toolkit
            </p>
          </div>
        </div>
      </a>
      <a
        href="#"
        class="list-group-item list-group-item-action d-flex gap-3 py-3"
        aria-current="true"
      >
        <img
          src="https://cdn.iconscout.com/icon/free/png-256/angular-2752246-2285063.png"
          alt="twbs"
          width="32"
          height="32"
          class="rounded-circle flex-shrink-0"
        />
        <div class="d-flex gap-2 w-100 justify-content-between">
          <div>
            <h3 class="mb-0">Angular 15</h3>
            <p class="mb-0 opacity-75">
              The web development framework for building the future
            </p>
          </div>
        </div>
      </a>
      <a
        href="#"
        class="list-group-item list-group-item-action d-flex gap-3 py-3"
        aria-current="true"
      >
        <img
          src="https://miro.medium.com/v2/resize:fit:683/1*F9QwZsjxEcwZRD0CaKTBEQ.png"
          alt="twbs"
          width="32"
          height="32"
          class="rounded-circle flex-shrink-0"
        />
        <div class="d-flex gap-2 w-100 justify-content-between">
          <div>
            <h3 class="mb-0">Sass</h3>
            <p class="mb-0 opacity-75">
              Sass is the most mature, stable, and powerful professional grade
              CSS extension language in the world.
            </p>
          </div>
        </div>
      </a>
      <a
        href="#"
        class="list-group-item list-group-item-action d-flex gap-3 py-3"
        aria-current="true"
      >
        <img
          src="https://play-lh.googleusercontent.com/qhV0NtKrkgNsTSKIjjqFSVkJpTibe5RBcrxb6y5te70EH5VZXGzd5dGUCkHIpHxq94hQ"
          alt="twbs"
          width="32"
          height="32"
          class="rounded-circle flex-shrink-0"
        />
        <div class="d-flex gap-2 w-100 justify-content-between">
          <div>
            <h3 class="mb-0">Angular Material</h3>
            <p class="mb-0 opacity-75">
              Component-library based-in and for Angular framework.
            </p>
          </div>
        </div>
      </a>
      <a
        href="#"
        class="list-group-item list-group-item-action d-flex gap-3 py-3"
        aria-current="true"
      >
        <img
          src="https://cdn-au.onetrust.com/logos/3dbea99f-abc0-4dbd-bcd7-8f6dfcaea28d/08d31c24-1bed-4774-903b-b1725205a842/bb79b0fe-48e3-427c-bbac-47fc621af04c/3IX0JssK_400x400.jpeg"
          alt="twbs"
          width="32"
          height="32"
          class="rounded-circle flex-shrink-0"
        />
        <div class="d-flex gap-2 w-100 justify-content-between">
          <div>
            <h3 class="mb-0">Pexels</h3>
            <p class="mb-0 opacity-75">
              Photos API that enables programmatic access to the full Pexels
              content library, including photos, videos
            </p>
          </div>
        </div>
      </a>
    </div>
    <div class="d-grid gap-2 d-sm-flex justify-content-sm-center mb-5">
      <a
        [routerLink]="['imoveis', 'lista']"
        type="button"
        class="btn btn-primary btn-lg px-4 me-sm-3"
      >
        Pronto para começar?
      </a>
    </div>
  </div>
</div>
